body,h1,div,table,tr,td,input,select,option {
	padding:0;
	margin:0;
	border:0;
	font-family:"Lucida Grande","Verdana",Arial,Sans ;
	font-size:12px;
	-moz-user-select: none;
	-khtml-user-drag: none;
	-khtml-user-select: none;
}
body {
	min-width:600px;
	overflow:hidden;
}
select {
	padding:1px;
	border:1px #888 solid;
	width:200px;
}
table {
	border-collapse:collapse;
}
div#top {
	position:absolute;
	width:100%;
	/* IE */
	width:expression(Math.max(590,document.body.clientWidth));
	height:150px;
	background:url('top.background.png') repeat ;
	overflow:hidden;
	min-width:600px;
}
div#bar {
	position:absolute;
	width:100%;
	/* IE */
	width:expression(Math.max(600,document.body.clientWidth));
	top:150px;
}
div#bottom {
	position:absolute;
	width:100%;
	/* IE */
	width:expression(Math.max(600,document.body.clientWidth));
	height:37px;
	bottom:0px;
	overflow:hidden;
	background:url('bottom.background.gif') repeat ;
	min-width:600px;
}

img#LOGO {
	position:absolute;
#if defined(CONFIG_WEB_MB_INVENTEL)
	width:104px;
	height:36px;
#else
	width:104px;
	height:22px;
#endif
	left:7px;
	top:9px;
}

div#DISPLAY {
	position:absolute;
	height:69px;
	left:120px;
	top:9px;
	right:214px;
	overflow:hidden;
	max-width:520px;
	width:expression(Math.max(265,Math.min(520,document.body.clientWidth - (120 + 214))) + "px") ; /* left + right */
	margin-left:auto;
	margin-right:auto;
	/* for ie */
	margin-left:expression(Math.round((document.body.clientWidth - (120 + 214) - Math.min(520,document.body.clientWidth - (120 + 214)))/2) + "px") ;
}
div#DISPLAY_CENTER {
	position:absolute;
	height:69px;
	width:expression(Math.max(245,Math.min(500,document.body.clientWidth - (120 + 234))) + "px") ; /* left + right */
	top:0px;
	left:10px;
	right:10px;
	background:url('top.display.fill.png') repeat-x ;
	overflow:hidden;
}
div#DISPLAY_LEFT {
	position:absolute;
	width:13px;
	height:69px;
	left:0px;
	top:0px;
	background:url('top.display.left.png') no-repeat ;
	overflow:hidden;
}
div#DISPLAY_RIGHT {
	position:absolute;
	width:89px;
	height:69px;
	right:0px;
	top:0px;
	background:url('top.display.right.png') no-repeat ;
	overflow:hidden;
}
div#NOWPLAYING_TOPLINE {
	position:absolute;
	height:14px;
	right:90px;
	width:expression(Math.max(160,Math.min(415,document.body.clientWidth - (120 + 214 + 105))) + "px") ; /* left + right */
	left:10px;
	top:6px;
	text-align:center;
	font-family:"Lucida Grande","Verdana",Arial,Sans ;
	font-size:10px;
	font-weight:bold;
	color:#393f3c;
	overflow:hidden;
	cursor:default;
}
div#NOWPLAYING_LINE1 {
	position:absolute;
	height:14px;
	right:90px;
	width:expression(Math.max(160,Math.min(415,document.body.clientWidth - (120 + 214 + 105))) + "px") ; /* left + right */
	left:10px;
	top:22px;
	text-align:center;
	font-family:"Lucida Grande","Verdana",Arial,Sans ;
	font-size:12px;
	color:#393f3c;
	overflow:hidden;
	cursor:default;
}
div#NOWPLAYING_LINE2 {
	position:absolute;
	height:14px;
	right:90px;
	width:expression(Math.max(160,Math.min(415,document.body.clientWidth - (120 + 214 + 105))) + "px") ; /* left + right */
	left:10px;
	top:36px;
	text-align:center;
	font-family:"Lucida Grande","Verdana",Arial,Sans ;
	font-size:12px;
	color:#393f3c;
	overflow:hidden;
	cursor:default;
}
div#NOWPLAYING_LINE3 {
	position:absolute;
	height:14px;
	right:90px;
	width:expression(Math.max(160,Math.min(415,document.body.clientWidth - (120 + 214 + 105))) + "px") ; /* left + right */
	left:10px;
	top:50px;
	text-align:center;
	font-family:"Lucida Grande","Verdana",Arial,Sans ;
	font-size:12px;
	color:#393f3c;
	overflow:hidden;
	cursor:default;
}
div#TIME {
	position:absolute;
	width:72px;
	height:56px;
	left:6px;
	top:6px;
	text-align:right;
	font-family:"Lucida Grande","Verdana",Arial,Sans ;
	font-size:14px;
	color:#393f3c;
	overflow:hidden;
	cursor:default;
}
div#remotectrl {
	position:absolute;
	top:86px;
}
button#PREV {
	position:relative;
	cursor:default;
        border: none;
        padding: 0px;
}
button#NEXT {
	position:relative;
	cursor:default;
        border: none;
        padding: 0px;
}
button#PLAY {
	position:relative;
	cursor:default;
/*        border: none;*/
        padding: 0px;
}
div#LOGO_FOOTER {
	position:absolute;
#if defined(CONFIG_WEB_MB_INVENTEL)
	width:64px;
	height:30px;
	right:6px;
	bottom:3px;
#else
	width:60px;
	height:22px;
	right:6px;
	bottom:7px;
#endif
}
div#INFO {
	position:absolute;
	width:150px;
	height:12px;
	right:16px;
	text-align:right;
	font-size:10px;
	color:#7c7c7c;
	vertical-align:middle;
	cursor:default;
}
div#PARENT {
	position:relative;
	display:block;
	float:left;
	width:38px;
	height:20px;
	left:20px;
}
div#BROWSER {
	position:absolute;
	width:100%;
	/* IE */
	width:expression(Math.max(600,document.body.clientWidth));
	overflow:auto;
	top:250px;
	bottom:37px;
	min-width:600px;
	height: expression(document.body.clientHeight - (86+49+37) + "px") ; /* top.height + bar.height + bottom.height */
}
table#ERROR_TABLE h1 {
	font-size:medium;
	color:Red;
	text-align:center;
}
table#ERROR_TABLE {
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}

table#BROWSERTABLE {
	width:100%;
}
table#BROWSERTABLE td {
	width:100%;
	background-color:#ddd;
	padding: 2px 2px 2px 32px;
}
table#BROWSERTABLE td.container {
	background:url('container.png') 12px 1px no-repeat;
	cursor:default;
}
table#BROWSERTABLE td.play {
	background:url('play.png') 12px 2px no-repeat;
	cursor:default;
}
table#BROWSERTABLE td:hover {
	cursor:default;
	-moz-user-select: none;
	-khtml-user-drag: none;
	-khtml-user-select: none;
}
table#BROWSERTABLE td.parity0 {
	background-color:#d5dbd9;
	padding: 2px 2px 2px 32px;
	cursor:default;
}
table#BROWSERTABLE td.parity1 {
	background-color:#fff;
	padding: 2px 2px 2px 32px;
	cursor:default;
}
table#BROWSERTABLE td:active,
table#BROWSERTABLE td.selected {
	background-color:#54B7D8;
	padding: 2px 2px 2px 32px;
}
.red {
	color:red;
}
.white {
	color:white;
}
