<html>
<head>
<meta http-equiv="Expires" content="Fri, Jun 12 1981 09:30:00 GMT">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Robots" content="noindex, nofollow">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title><% print_str("CFG_PODCAST_CONFIG"); %></title>
<link type="text/css" rel="stylesheet" href="style.css" />
<script language="JavaScript" type="text/javascript" src="common.js"></script>
<script language="JavaScript" type="text/javascript" src="res/main_common1.js"></script>
<script language="JavaScript" type="text/javascript">


</script>
</head>

<body onResize="getWidth();" onLoad="getWidth(); StartPodcastHttpRequest();" onUnload="ClearPodcastHttpRequest();">

<div id="top">
  <div id="logo"></div>
  <div id="txt1"><% print_str("CFG_PODCAST_CONFIG"); %></div>
</div>

<div id="text">
<%
  if(request['REQUEST_METHOD'] == "POST") {
    if(form.podcastDelete) {
      rm_podcast(form.podcastDelete);
    }
    else if(form.podcastUpdate) {
      set_podcast_load();
    }
    else {
      if(form.podcastUpdateTimeout) {
        set_podcast_update(form.podcastUpdateTimeout);
      }
    }
  }
%>

<form action="@@request['SCRIPT_NAME']" method="post" name="podcastConfig" id="podcastConfig">

<table class='musicbox' width="100%" height="90%">
  <tr>
    <td align="center" valign="middle">
    <div align="center">
    <table class='musicbox' cellspacing="8">
  <tr>
    <td colspan=5 align="center">
      <div id="txt3">Podcasts</div>
    </td>
  </tr>

  <tr>
    <td colspan=5 align="center">
      <div id="txt4">------------</div>
    </td>
  </tr>

<input type="hidden" name="podcastDelete">
<input type="hidden" name="podcastUpdate"></br>
<% 
  j = 0;
  for (i = 0; i < 10; i++) {
  podcast_name      = get_podcast(i, "NAME");
  podcast_url       = get_podcast(i, "URL");
  podcast_download  = get_podcast(i, "DOWNLOAD");

  if(podcast_download != "")
  {
    podcast_download = "(download: " + podcast_download + ")";
  }

  if(podcast_url != "" && podcast_name != "")
    {
      j++;
%>
  <tr>
    <td><div id="txt3">@@podcast_name</div></td>
    <td><div id="txt5">@@podcast_url</div><div id="txtblue">@@podcast_download</div></td>
    <td align="center"><input type='button' name='delete' value="delete" class='state' onClick="document.podcastConfig.podcastDelete.value='@@i'; this.form.submit();"></td>
    <td align="center"><input type='button' name='modify' value="modify" class='state' onClick="document.location.href='modifypodcast.html?@@i'"></td>
    <td><div id="txtred"><div id="podcaststatus@@i"></div></div></td>

  </tr>
  </tr>

<%  } 
  }
  if(j==0)
    {
%>
  <tr>
    <td colspan=5 align="center">
      <div id="txt5">(no podcast)</div>
    </td>
  </tr>

<%
    }
  else if(j==10)
    {
%> 

  <tr>
    <td colspan=5 align="center">
      <div id="txt5">@@j podcasts (maximum)</div>
    </td>
  </tr>

<%
    }
  else
    {
%>

  <tr>
    <td colspan=5 align="center">
      <div id="txt4">@@j podcast(s)</div>
    </td>
  </tr>

<%  } %>

  <tr>
    <td colspan=5 align="center">
      <div id="txtblue"><div id="podcastdownloadstatus"></div></div>
    </td>
  </tr>

  <tr>
    <td colspan=5 align="center">
      <div id="txt4">------------</div>
    </td>
  </tr>

<%  
  if(j<10)
    {
%>

  <tr>
    <td colspan=5 align="center">
      <input type='button' name='addapodcast' value='add a podcast' class='musicbox' onClick="window.location='addpodcast.html'">
    </td>
  </tr>

<%  } %>

  <tr>
    <td colspan=5 align="center">
      <div id="txt4">------------</div>
    </td>
  </tr>

  <tr>
    <td colspan=5 align="center">
      <input type='button' name='update' value="update" class='state' onClick="document.podcastConfig.podcastUpdate.value='@@i'; this.form.submit();">
    </td>
  </tr>

  <tr>
    <td colspan=5 align="center"><div id="txt3">automatic update:</div></td>
  </tr>

<% 
    update = get_podcast_update(); 
		s1 = ""; s2 = ""; s3 = "";
	  if (update == "86400") s2 = "selected";
	  else if (update == "604800") s3 = "selected";
	  else s1 = "selected";
%>
  <tr>
    <td colspan=5 align="center">
	    <select class='musicbox' name="podcastUpdateTimeout" onchange="this.form.submit();">
		  <option value="3600"   @@s1>every hour </option>
		  <option value="86400"  @@s2>every day  </option>
		  <option value="604800" @@s3>every week </option>
    </td>
  </tr>

  </table>
  </div>
  </td>
</tr>
</table>
</form>
</div>

<div id="bottom">
 <div id="linkconfig" onclick="goconfig()" title="<% print_str("Z_MB_LINK_CONFIG"); %>"></div>
 <div id="linkmyradio" onclick="gomyradio()" title="<% print_str("Z_MB_LINK_MYRADIO"); %>"></div>
 <div id="linkpodcast" onclick="gopodcast()" title="<% print_str("Z_MB_LINK_PODCAST"); %>"></div>
 <div id="linkhome" onclick="gohome()" title="<% print_str("Z_MB_LINK_HOME"); %>"></div>
  <div id="logo_bottom"></div>
</div>

</body>
</html>

